a{
	color:inherit;
	text-decoration: none;
}
a:hover{
	color:#fff;
	text-decoration: none;	
}
.btn-primary{
	background-color: #fff;
	border: solid 2px $primary;
	transition: all 0.3s ease-out;
	color: $primary;
	font-weight: bold;
}
.btn-primary:hover{
	background-color: $primary;
	color: #fff;
}
header {
    position: fixed;
    width: 100%;
    nav ul{
    	li{
	    	position: relative;
	    	display: flex;
	    	justify-content: center;
	    	a{
		    	padding: 15px 20px;
		    	color: #fff;
		    }
		    .active-decoration{
		    	width: 0;
			    height: 3px;
			    background-color: $primary;
			    margin: 0;
			    position: absolute;
			    bottom: 0;
			    transition: all 0.3s ease-out;
		    }
		}
		li:hover .active-decoration{
			width: 100%;
		}
		li.active .active-decoration{
			width: 100%;
		}
	}
	.home-link{
	    color: #fff;
	    font-size: 1.5em;
	    margin-top: auto;
	    margin-bottom: auto;
	}
}
h1{
	font-size: 6em;
    line-height: 0.8;
    letter-spacing: 0.15em;
}
h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    color: $primary;
}
h5{
	font-size: 2.4em;
	font-weight: 300;
}
.mc2-ly{
	padding: 70px 0px;
}
.mc2-ly1{
    background-image: url(/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	.caption {
	    padding: 250px 0px 200px 0px;
	    h1,h5{
			color:#fff;
	    }
	    h1{
	    	padding-left: 12px;
	    }
	}
}
.mc2-ly2{
	background-color: #fff;
	img{
	    margin-bottom: 20px;
	}
	.col-12{
		padding: 0px 35px;
	}
}
.mc2-ly3{	
	.mc2-tab-buttons {
		margin-bottom: 30px;
		.btn {
		    width: 180px;
		    font-size: 1.2em;
		    border-radius: 250px;
		    margin: 0px 10px;
		}
	}
	p{
		color: $primary;
		font-weight: 500;
		font-size: 1.1em;
	}
}
.mc2-ly4{
    background-color: #fff;
    p{
        max-width: 550px;
    }
    .logos-container .col-6{
        height: 120px;
        img{
            height: 100%;
        }
    }
}
.mc2-pane{
	display: none;
}
.mc2-pane.active{
	display: block;
}
footer{
    background-color: $footer-bg;
    color: $light;
}

@media(min-width: 1200px){
	.mc2-ly3 .container {
	    max-width: 900px;
	}
}